<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/user/services"></ion-back-button>
        </ion-buttons>
        <ion-title>View Service</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="service">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-segment (ionChange)="onSegmentChange($event)">
        <ion-segment-button value="where" checked>Where</ion-segment-button>
        <ion-segment-button value="who">Who</ion-segment-button>
        <ion-segment-button value="what">What</ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="selectedSegment === 'where'">
        <ion-list-header color="secondary"><h1>Location</h1></ion-list-header>

        <ion-item lines="none">
            <ion-label>Address</ion-label>
            <ion-label>{{ service.address }}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Zip</ion-label>
            <ion-label>{{ service.zip }}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>City</ion-label>
            <ion-label>{{ service.city }}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Province</ion-label>
            <ion-label>{{ service.province.name }}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Start Date</ion-label>
            <ion-label>
                {{ service.startDate.toLocaleDateString('es-ES', {dateStyle: 'long'}) }} <br>
                {{ service.startDate.toLocaleTimeString('es-ES', {timeStyle: 'short', hour12: true}) }}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedSegment === 'where'">
        <ion-list-header color="secondary"><h1>Map</h1></ion-list-header>
    </ion-list>

    <app-location-display center="{{ service.address }},{{ service.zip }}, {{ service.city }}" *ngIf="selectedSegment === 'where'"></app-location-display>

    <ion-list *ngIf="selectedSegment === 'who'">
        <ion-list-header color="secondary"><h1>Client</h1></ion-list-header>

        <ion-item>
            <ion-label>
                <h2>{{ client.firstName }} {{ client.lastName }}</h2>
                <p>{{ client.email }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedSegment === 'who'">
        <ion-list-header color="secondary"><h1>Employees</h1></ion-list-header>

        <ion-item *ngFor="let employee of employees">
            <ion-label>
                <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
                <p>{{ employee.email }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedSegment === 'what'">
        <ion-list-header color="secondary"><h1>{{ service.event.name }}</h1></ion-list-header>

        <ion-item *ngFor="let dish of service.dishes">
            <ion-avatar slot="start">
                <img src="{{ dish.image }}" alt="{{ dish.name }} image">
            </ion-avatar>
            <ion-label>
                <h2>{{ dish.name }}</h2>
                <p>{{ dish.description }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
