<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/user"></ion-back-button>
        </ion-buttons>
        <ion-title>My Profile</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onEdit()" [disabled]="!form?.valid">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="form" [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="firstName" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="lastName" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" autocomplete autocorrect formControlName="email" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" autocomplete autocorrect formControlName="password" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
