<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/admin/headquarters"></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Headquarter</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onEdit()" [disabled]="!form?.valid">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="formLoaded" [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="name" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Address</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="address" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">Zip</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="zip" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label position="floating">City</ion-label>
                        <ion-input type="text" autocomplete autocorrect formControlName="city" maxlength="255"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-label>Province</ion-label>
                        <ion-select placeholder="Select One" formControlName="province">
                            <ion-select-option *ngFor="let province of provinces" [value]="province.id">
                                {{ province.name }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button (click)="onDestroy()">
                        <ion-icon name="trash" slot="icon-only"></ion-icon>
                        Delete Headquarter
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
