<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="sideMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Administration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <ion-card routerLink="/admin/headquarters">
                    <ion-card-header>
                        <ion-card-title>Headquarters</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="business" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card routerLink="/admin/employees">
                    <ion-card-header>
                        <ion-card-title>Employees</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="contacts" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <ion-card routerLink="/admin/dishes">
                    <ion-card-header>
                        <ion-card-title>Dishes</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="restaurant" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card routerLink="/admin/suppliers">
                    <ion-card-header>
                        <ion-card-title>Suppliers</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="globe" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <ion-card routerLink="/admin/menus">
                    <ion-card-header>
                        <ion-card-title>Menus</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="paper" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card routerLink="/admin/events">
                    <ion-card-header>
                        <ion-card-title>Events</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="filing" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <ion-card routerLink="/admin/services">
                    <ion-card-header>
                        <ion-card-title>Services</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="today" size="large"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
