ion-button {
  --padding-start: 0!important;
  --padding-end: 0!important;
  margin-inline-start: 0!important;
  margin-inline-end: 0!important;
  margin-bottom: 0!important;
}

ion-list-header {
  display: block;
  text-align: center;
}
